
@{
    ViewBag.Title = "AskBot";
}

<head></head>
<body style="        background-image: url('../images/chat.png');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center
">
    <link rel="stylesheet" href="~/Content/chatbot.css" type="text/css" media="screen" />
    <script defer src="~/Scripts/chatbot.js"></script>
    <div class="junior__classes__area section-lg-padding--top section-padding--md--bottom chat"
         style="background-image:url('../images/chat.png');background-repeat: no-repeat; background-attachment: fixed; background-position: center">
        <div id="container">
            <center><h4><a class="voice" href="#">Ask Now</a></h4></center>
        </div>
    </div>
</body>



